#buddypress .message-attachments {
	margin-left: 45px;
}

#buddypress .message-attachments h4 {
	margin-bottom: .5em;
}

#buddypress .message-attachments ul {
	list-style-type: none;
}

#buddypress .message-attachments ul li {
	margin-left: 0;
}

#buddypress .message-attachments ul li img {
	max-height: 1.5em;
	margin-right: .5em;
}

#buddypress ul#bpma-attachment-errors {
	list-style-type: none;
	margin: 1em 0;
	padding: .5em;
	border: 2px solid #f00;
	border-radius: 3px;
	display: none;
}

#buddypress ul#bpma-attachment-errors li {
	margin: 0;
}
